---
import Config from '../../e-initiative.config.mjs';
import Body from '../layouts/Body.astro';
import Navbar from '../components/Navbar.svelte';
import LandingSection from '../components/index/LandingSection.astro';
import IntroSection from '../components/index/IntroSection.astro';
import SignSection from '../components/index/SignSection.astro';
import VolunteerSection from '../components/index/VolunteerSection.astro';
import AboutSection from '../components/index/AboutSection.astro';
import { isCampaignEnded } from '../utils/campaign';
---

<Body>
	<main class="flex flex-col">
		<LandingSection />
		<IntroSection />
		{
			!isCampaignEnded && (
				<>
					<SignSection />
					{Config.petition.offline?.volunteer && <VolunteerSection />}
				</>
			)
		}
		<AboutSection />
		<Navbar client:idle />
	</main>
</Body>
