---
import Main from '../layouts/Main.astro';
import LandingSection from '../components/LandingSection.astro';
import IntroSection from '../components/IntroSection.astro';
import SignSection from '../components/SignSection.astro';
---

<Main>
	<main class="flex flex-col">
		<LandingSection />
		<IntroSection />
		<SignSection />
	</main>
</Main>
