---
import Config from '../../e-initiative.config.mjs';
import SectionContainer from './SectionContainer.astro';
import PettitionOverview from './PettitionOverview.svelte';
---

<SectionContainer
	outerClass="min-h-screen justify-center"
	innerClass="flex flex-col md:flex-row text-center gap-16"
>
	<div class="flex flex-col justify-center items-center">
		<h1 class="heading-responsive-03">{Config.metadata.title}</h1>
		<p>{Config.metadata.description}</p>
		<img
			class="w-[180px] md:w-[280px] max-w-[280px] mt-4"
			src="https://placehold.co/280x280"
			alt=""
		/>
	</div>
	<div class="flex flex-col w-full max-w-md space-y-2 my-auto">
		<p class="mt-1">
			ต้องการ {Config.pettition.expectedSignatures.toLocaleString()} รายชื่อ
		</p>
		<PettitionOverview client:load />
		<a class="btn btn-block btn-link hover:text-accent heading-03"
			>ทำไมต้องลงชื่อ</a
		>
	</div>
</SectionContainer>
