---
import SectionContainer from '../SectionContainer.astro';
import DocumentIcon from '../icons/DocumentIcon.svelte';
---

<SectionContainer
	innerClass="flex max-w-screen-md flex-col items-center gap-8 text-center"
>
	<h2 class="heading-responsive-02">ทำไมต้องลงชื่อ</h2>

	<img
		class="w-[180px] max-w-[280px] md:w-[280px]"
		src="https://placehold.co/280x280"
		alt=""
	/>

	<p>
		Lorem ipsum dolor sit amet consectetur. Erat leo id neque tristique enim
		elementum gravida. Ornare ultrices ac in a turpis ut. Lacus sit mollis
		molestie est aliquet porta cursus. Suscipit gravida vivamus lacus faucibus.
		Diam leo id proin semper amet consectetur vel. Integer amet dui dui
		fringilla in nulla venenatis etiam sem. Adipiscing cras mattis interdum nec
		mi fermentum. Vulputate integer et commodo arcu consectetur. Ultrices
		pharetra proin posuere sed vulputate tempus aliquam.
	</p>

	<div class="h-[2px] w-full bg-base-300"></div>

	<h3 class="heading-03">heading</h3>

	<img
		class="w-[180px] max-w-[280px] md:w-[280px]"
		src="https://placehold.co/280x280"
		alt=""
	/>

	<p>
		Lorem ipsum dolor sit amet consectetur. Erat leo id neque tristique enim
		elementum gravida. Ornare ultrices ac in a turpis ut. Lacus sit mollis
		molestie est aliquet porta cursus. Suscipit gravida vivamus lacus faucibus.
		Diam leo id proin semper amet consectetur vel. Integer amet dui dui
		fringilla in nulla venenatis etiam sem. Adipiscing cras mattis interdum nec
		mi fermentum. Vulputate integer et commodo arcu consectetur. Ultrices
		pharetra proin posuere sed vulputate tempus aliquam.
	</p>

	<a
		href="#"
		target="_blank"
		rel="noopener noreferrer"
		class="btn btn-primary btn-block text-base-100"
		>อ่านร่าง พรบ. ฉบับเต็ม <DocumentIcon /></a
	>
</SectionContainer>
